<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="xamarintvos10" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.0" targetFramework="xamarintvos10" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="xamarintvos10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarintvos10" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="xamarintvos10" />
  <package id="Octane.Xam.VideoPlayer" version="3.1.0" targetFramework="xamarintvos10" />
  <package id="PausedAds" version="1.0.65" targetFramework="xamarintvos10" />
  <package id="SampleDependency" version="1.0.0" targetFramework="xamarintvos10" />
  <package id="Xamarin.Forms" version="5.0.0.2622" targetFramework="xamarintvos10" />
  <package id="jQuery" version="2.1.1" targetFramework="xamarintvos10" />
</packages>